.productsContainer {
  display: flex;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 20px;
}
.filterButtons {
  display: flex;
  gap: 20px;
}
.button {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(126, 161, 213);
  }
}
